html {
}

#page {
    background-color: #dcdcdc;
}

.flip-container, .front, .back {
	width: 720px;
    text-align: center;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    position: relative;
}

.front {
	height: 420px;
    margin-top: 10px;
}

.back {
    height: 800px;
    margin-top: 40px;
}

.backsection {
    margin-top: 30px;
}

.front, .back {
	top: 0;
	left: 0;
    background-color: #778899;
}

#wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: 0px;
	margin-bottom: 20px;
}

ul.icons li {
	display: inline-block;
	padding: 0 30px;
}

ul.icons li a:hover, ul.icons li a:focus {
	color: lightblue;
}

#publications {
    text-align: left;
    margin-top: 60px;
}

.publist li {
    color: black;
    width: 90%;
    margin-left: 20px;
}

.publink {
    color: lightblue;
}

.publink:hover {
    color: lightblue;
}

ul.icons li a {
	text-decoration: none;
	position: relative;
	display: block;
	border-radius: 100%;
    color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
}

#intro {
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#navi {
    display: none;
}

#back-btn {
    display: none;
}

#pub_list {
    text-align: left;
}

#abouttext {
    width: 80%;
    margin-top: 30px; 
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    font: 24px Arial, sans-serif;
}

.btn {
    width: 160px;
}
